<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <title>{{.Title}}</title>
    </head>
    <body>
        <div>
            <form action="add" method="post">
                <input type="text" name="Name">
                <input type="text" name="Phone">
                <input type="submit" >
            </form>
        </div>
        <div class="item-list">
            {{range .Items}}
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/person/{{ .ID.Hex }}">{{ .ID.Hex }}</a>
                                </td>
                                <td>{{ .Name }}</td>
                                <td>{{ .Phone }}</td>
                                <td>{{ .Timestamp }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div><strong>no rows</strong></div>
            {{end}}
        </div>
    </body>
</html>